@media (max-width: 945px) {
  .emailRow__time,
  .email__option--imp {
    display: none !important;
  }
  .emailRow__title,
  .emailRow__message {
    display: block;
  }
}
.emailRow {
  display: flex;
  align-items: center;
  height: 30px !important;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
  padding: 12px;
  font-weight: normal !important;
}
.emailRow__options {
}
.emailRow__title {
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal !important;
  flex: 0.1;
}
.emailRow:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}
.emailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-weight: 13px !important;
}
.emailRow__message > h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.emailRow__time {
  font-weight: 400;
}
