.emailList {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
.emailList__settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white !important;
  padding-right: 10px !important;
  z-index: 1000;
}
.emailList__section {
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}
.emailList__list {
}
.emailList__settingLeft {
}
.emailList__settingRight {
}
