.emailList {
  flex: 1;
}
.emailList__settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  padding-right: 10px;
}
.emailList__section {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}
.emailList__list {
    
}
.emailList__settingLeft {
}
.emailList__settingRight {
}
