.mail {
  z-index: 999;
  flex: 1;
}
.mail__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail__toolsLeft {
  display: flex;
  align-items: center;
}
.mail__toolsRight {
  display: flex;
  align-items: center;
}
.mail__subject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 10px 10px;
}
