.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px !important;
  min-width: 200px;
  font-weight: 600;
  font-size: 14px !important;
  cursor: pointer;
  color: grey;
  border-width: 0 !important;
}
.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}
